<div class="card margintop">
  <div class="card-header"> <%= @article.title %>
  </div>
    <div class="card-body">
      <% if @article.user %>
        <div class= "col">
        <span><h5><%= link_to gravatar_for(@article.user), user_path(@article.user) %></h5>
          <p>
          <%= link_to @article.user.username, user_path(@article.user) %> |
          <small><%= pluralize(@article.user.articles.count, "article") if @article.user.articles %></small>
          </p>
        </span>
        </div>
    <% end %>
      <h5 class="card-title">Description:</h5>
      <p class="card-text"><%= @article.description %></p>
      <% if @article.categories.any? %>
        <p>Categories: <%= render @article.categories %></p>
      <% end %>
      <% if logged_in? && (current_user == @article.user || current_user.admin?) %>
        <div class="article-actions">
          <%= link_to "Edit this article", edit_article_path(@article), class: "btn btn-xs btn-primary" %>
          <%= link_to "Delete this article", article_path(@article), method: :delete, data: { confirm: "Are you sure you want to delete the article?"},class: "btn btn-xs btn-danger" %>
          <%= link_to "View all articles", articles_path, class: "btn btn-xs btn-success" %>
        </div>
      <% end %>
    </div>
</div>
  
  
