<h1 align="center">Welcome to <%= @user.username %>'s page</h1>
<div class= 'center'><br/>
    <%= gravatar_for @user, size:120  %>
</div><br>
<h4 align="center"><%= @user.username %>'s articles</h4>
<div class="center">
  <%= will_paginate @user_articles %>
</div>
<%= render 'articles/article', obj: @user.articles %>
<div class="center">
  <%= will_paginate @user_articles %>
</div>